/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
	font-family: var(--font-family-body);
	font-weight: normal;
	font-size: 16px;
	color: var(--body-text-color);
	font-style: normal;
}
@media only screen and (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
img,
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.btn:focus,
.button:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: var(--primary-color);
	text-decoration: none;
}
a,
button {
	color: var(--primary-color);
	outline: medium none;
	text-decoration: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	color: var(--heading-text-color);
	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
}
p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.75;
	color: var(--paragraph-text-color);
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: var(--body-text-color);
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
}
*::-moz-selection {
	background: var(--primary-color);
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: var(--primary-color);
	color: #fff;
	text-shadow: none;
}
::selection {
	background: var(--primary-color);
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: var(--primary-color);
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 16px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    --bs-gutter-x: 30px;
}
.row.g-0 {
	--bs-gutter-x: 0;
}
.gutter-y-30 {
  	--bs-gutter-y: 30px;
}
[class*="flaticon-"] {
	display: inline-block;
	line-height: 0;
}

/* button style */
.btn {
    user-select: none;
    -moz-user-select: none;
    background: var(--primary-color) none repeat scroll 0 0;
    border: medium none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2rem;
    margin-bottom: 0;
    padding: 20px 34px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: break-spaces;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.transparent-btn {
	background: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	padding: 18px 34px;
}
.btn::before {
    content: "";
    position: absolute;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    width: 200%;
    height: 200%;
    top: 110%;
    left: 50%;
    background: var(--secondary-color);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
}
.transparent-btn::before {
	background: var(--primary-color);
}
.btn:hover:before {
    top: -40%;
}
.btn:hover,
.transparent-btn:hover {
	color: #fff;
}
.btn.btn-link {
	text-decoration: none;
	padding: 0;
	border: none;
	color: var(--primary-color);
	background: transparent;
}
.btn.btn-link::before {
	display: none;
}
.breadcrumb > .active {
	color: var(--primary-color);
}


/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 40 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}

/*-- Margin Bottom --*/
@for $i from 1 through 60 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 40 {
    .ml-#{5 * $i}{margin-left: 5px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 40 {
    .mr-#{5 * $i}{margin-right: 5px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 60 {
    .pt-#{5 * $i}{padding-top: 5px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 60 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 40 {
    .pl-#{5 * $i}{padding-left: 5px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 40 {
    .pr-#{5 * $i}{padding-right: 5px *$i;}
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none;
}
#preloader img {
    width: 70px;
    min-width: 70px;
}
