/*==============================================
10. counter
================================================*/

.counter-item {
    text-align: center;
    margin-bottom: 50px;
}
.counter-item .title {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: .9;
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 300;
	color: var(--primary-color);
}
.counter-item p {
    margin-bottom: 0;
    line-height: 1.6;
	color: var(--heading-text-color);
}