/*==============================================
03. hero
================================================*/

.banner-bg {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 120px 0;
    min-height: 770px;
	position: relative;
	margin-bottom: 35px;
}
.banner-content .title {
    font-size: 80px;
    line-height: 1.13;
    margin-bottom: 24px;
}
.banner-content p {
    font-size: 20px;
    line-height: 1.875rem;
    margin-bottom: 0;
    color: var(--heading-text-color);
}
.banner-price {
    margin: 47px 0;
}
.banner-price .price {
    color: var(--primary-color);
    font-size: 60px;
    line-height: .9;
    margin-bottom: 0;
}
.banner-price .price sub {
    color: var(--body-text-color);
    font-size: 16px;
    font-weight: 400;
    bottom: 3px;
    left: 5px;
}
.banner-phone,
.header-phone {
    position: absolute;
    bottom: -35px;
    right: 8%;
    z-index: 2;
    background: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #E1E6EE;
    padding: 21px 45px;
    border-radius: 50px;
}
.banner-phone .icon,
.header-phone .icon {
    font-size: 40px;
    color: var(--primary-color);
    margin-right: 20px;
    line-height: 1;
}
.banner-phone .content,
.header-phone .content {
	flex-grow: 1;
}
.banner-phone .content span,
.header-phone .content span {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 7px;
}
.banner-phone .content .number,
.header-phone .content .number {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;
	color: var(--primary-color);
}
.slider-bg {
    background-position: center;
    background-size: cover;
    min-height: 770px;
    display: flex !important;
    align-items: center;
    padding: 120px 0;
}
.slider-bg .banner-content .title {
    color: #fff;
    margin-bottom: 30px;
}
.slider-services-list {
	margin-bottom: 50px;
}
.slider-services-list li {
    display: flex;
    align-items: flex-start;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.slider-services-list li + li {
	margin-top: 25px;
}
.slider-services-list li img {
    max-width: 19px;
    margin-right: 20px;
    margin-top: 2px;
}