/*==============================================
17. process
================================================*/

.progress-item {
    margin-bottom: 30px;
}
.progress-item .title {
    display: block;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 12px;
    color: var(--heading-text-color);
}
.progress--bar {
	position: relative;
    overflow: visible;
    background: transparent;
}
.progress-number {
    position: absolute;
    bottom: 16px;
    font-size: 15px;
    line-height: 1;
    color: var(--heading-text-color);
    transform: translateX(-100%);
}
.progress-bg {
    height: 5px;
    background: #EEF2F9;
    overflow: hidden;
}
.progress-fill {
    height: 5px;
    background: var(--primary-color);
    width: 0%;
    &.progress-fill1 {
        width: 95%;
    }
    &.progress-fill2 {
        width: 80%;
    }
    &.progress-fill3 {
        width: 65%;
    }
}
.experience-content > p {
    margin-bottom: 45px;
}
.progress-item:last-child {
    margin-bottom: 0;
}
.progress-video {
    margin-left: 30px;
    position: relative;
}
.progress-video .video-paly a {
	width: 70px;
	height: 70px;
}
.progress-video .video-paly a::before {
	width: 110px;
	height: 110px;
}
.progress-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}