// // Font Family
$c_reg: 'cerebri_sansregular';
$c_med: 'cerebri_sansmedium';
$c_sem: 'cerebri_sanssemibold';
$c_bold: 'cerebri_sansbold';

// Colors ---------------
$white: #ffffff;
$black: #333333;
$grey:#f8f8f8;
$grey-2:#f4f9fc;
$theme-color: #096bd8;
$theme-color-2: #6100b3;
$body-color: #696969;
$hr-border-color:#eceff8;
$footer-bg:#091b29;
$tab-bg:#1a1430; 
$tab-color:#aeabba;



// Heading Color
$heading-color: #333333;

// Soft color
$black-soft:#7e7e7e;
$link-color:#e4ecf3;
$border-color:#eaedff;

:root {
	--font-family-body: 'Rubik', sans-serif;
	--font-family-heading: 'Rubik', sans-serif;
	--primary-color: #df0e0e;
	--secondary-color: #0c31ac;
	--body-text-color: #757F95;
	--heading-text-color: #0C1020;
	--paragraph-text-color: #757F95;
	--facebook: #3b5998;
	--twitter: #00acee;
	--linkedin: #1976d2;
	--pinterest: #3b5998;
	--youtube: #c4302b;
	--skype: #00aff0;
}


// Responsive Variables
$xxl: 'only screen and (min-width: 1501px) and (max-width: 1750px)';
$xl: 'only screen and (min-width: 1201px) and (max-width: 1500px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$xxs:'(max-width: 575px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

